*{
  margin: 0;
}
body{
    padding-top: 90px;
}

.navbar{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 97%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;

    background: rgba(17, 24, 46, 0.92);

    backdrop-filter: blur(12px);

    border-radius: 18px;

    z-index: 1000;

    box-sizing: border-box;
}



.logo-img {
  width: 190px;
  height: 150px;
  object-fit: contain;
}



ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

li {
  font-size: 15px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}
.login{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #10182f;
    color: rgb(247, 243, 243);
}
.create{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #8a4fff;
    color: rgb(247, 243, 243);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: #8A4FFF;
}

.create-btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    text-decoration:none;

    background:#8b5cf6;

    color:white;

    padding:12px 22px;

    border-radius:10px;

    transition:.3s;

}

.create-btn:hover{

    background:#7443f0;

    transform:translateY(-2px);

}